.shimmer {
    animation: shimmer 1.5s infinite linear;
    background: linear-gradient(to right, #ebf8f7 0%, #d1f0ec 20%, #ebf8f7 40%, #ebf8f7 100%);
    /* background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%); */
    background-size: 1000px 100%;
}

.shimmer-cell {
    height: 20px;
    width: 100%;
    border-radius: 4px;
    margin: 8px 0;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}